.root {
  margin-top: 169px !important;
  width: 600px;
  background-color: #fff;
  margin: 0 auto;
  position: relative;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%), 0 25px 50px 0 rgb(0 0 0 / 10%);
}
